In [1]:
import pandas as pd
from numpy import nan
import string
import random
import pandas_tools as pt

In [2]:
# Set ourselves up to make a collection of "records",
# each of which contains data from a single observation in a nested dict format.
def rand_str(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.choice(chars) for x in range(size))

rand_float = random.random
rand_int = lambda: random.randint(0,100)
# rand_value = lambda: random.choice([rand_str, rand_float, rand_int])()

In [3]:
def make_record(identifier):
    record = {
        'identifier': identifier,
        'category0': {
            'field0': rand_float(),
            'cat0_field0': rand_float(),
            'cat0_field1': rand_int(),
            'cat0_field2': {
                'cat0_field2_subfield0': rand_str(),
                'cat0_field2_subfield1': rand_float(),
                'cat0_field2_subfield2': {
                    'cat0_field2_subsubfield0': rand_int()
                },
            }
        },
        "category1": {
            'field0': rand_float(),
            'cat1_field0': {
                'cat1_field0_subfield0': {
                    'cat1_field0_subsubfield0': rand_str(),
                    'cat1_field0_subsubfield1': rand_float(),
                },
                'cat1_field0_subfield1': rand_str(),
            },
        },
    }
    return record

In [4]:
# Generate a list of records
n_records = 20
levels = ['category', 'field', 'subfield', 'subsubfield']
records = []
for _ in range(n_records):
    identifier = rand_str()
    records.append(make_record(identifier))

In [5]:
# Create flat DataFrame
df = pt.df_from_records(records, index='identifier', levels=levels, flat=True)

In [6]:
# not very pretty...
df.head()

,category0.cat0_field0,category0.cat0_field1,category0.cat0_field2.cat0_field2_subfield0,category0.cat0_field2.cat0_field2_subfield1,category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,category0.field0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield1,category1.cat1_field0.cat1_field0_subfield1,category1.field0
identifier,,,,,,,,,,
6OG73D,0.829836,1,08Q3YH,0.315140,75,0.073855,1K9GF1,0.883122,4N2E3R,0.395438
QGGYMX,0.797732,22,5CSUF5,0.236110,93,0.129008,XM4LNQ,0.735944,TF05UI,0.674213
BLTNC6,0.650676,84,IKEEL1,0.010769,95,0.532688,EMIIP8,0.484757,9WFPA1,0.474376
0GSHWF,0.860281,8,7F6IYZ,0.746575,64,0.624730,1GBGA3,0.777581,9QVQL6,0.057096
PZZ7OV,0.167129,39,49SL8K,0.273909,84,0.157868,OPVQSP,0.118995,C3BV04,0.342933

In [7]:
# Create MultiIndexed DataFrame
df = pt.df_from_records(records, index='identifier', levels=levels, flat=False)

In [8]:
# Uneven nesting results in nan levels
df.head()

category      category0                                    \
field       cat0_field0 cat0_field1           cat0_field2
subfield            NaN         NaN cat0_field2_subfield0
subsubfield         NaN         NaN                   NaN
identifier
6OG73D         0.829836           1                08Q3YH
QGGYMX         0.797732          22                5CSUF5
BLTNC6         0.650676          84                IKEEL1
0GSHWF         0.860281           8                7F6IYZ
PZZ7OV         0.167129          39                49SL8K

category                                                              \
field                                                         field0
subfield    cat0_field2_subfield1    cat0_field2_subfield2       NaN
subsubfield                   NaN cat0_field2_subsubfield0       NaN
identifier
6OG73D                   0.315140                       75  0.073855
QGGYMX                   0.236110                       93  0.129008
BLTNC6                   0.010769                       95  0.532688
0GSHWF                   0.746575                       64  0.624730
PZZ7OV                   0.273909                       84  0.157868

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
6OG73D                        1K9GF1                 0.883122
QGGYMX                        XM4LNQ                 0.735944
BLTNC6                        EMIIP8                 0.484757
0GSHWF                        1GBGA3                 0.777581
PZZ7OV                        OPVQSP                 0.118995

category
field                                field0
subfield    cat1_field0_subfield1       NaN
subsubfield                   NaN       NaN
identifier
6OG73D                     4N2E3R  0.395438
QGGYMX                     TF05UI  0.674213
BLTNC6                     9WFPA1  0.474376
0GSHWF                     9QVQL6  0.057096
PZZ7OV                     C3BV04  0.342933

In [9]:
# direct access to a single columns, not that useful
print(df['category0', 'cat0_field1', nan, nan])

identifier
6OG73D     1
QGGYMX    22
BLTNC6    84
0GSHWF     8
PZZ7OV    39
346U8C    65
XMKLHB    75
EG0POW    74
FODRRN    88
DD4EW6    65
0QROTA    88
XPJF2B    93
07DGSV    44
04FTT3    70
EQ7Q8Q    28
PIN5YZ    37
S1MHGQ    61
MHDR5H    67
KZV5OF    97
A0LP67    82
Name: (category0, cat0_field1, nan, nan), dtype: int64

In [10]:
print(df['category0', 'cat0_field1', nan, nan] is df[('category0', 'cat0_field1', nan, nan)])

True

In [11]:
df.T

identifier                                                               6OG73D  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.829836
          cat0_field1 NaN                   NaN                               1
          cat0_field2 cat0_field2_subfield0 NaN                          08Q3YH
                      cat0_field2_subfield1 NaN                         0.31514
                      cat0_field2_subfield2 cat0_field2_subsubfield0         75
          field0      NaN                   NaN                       0.0738547
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     1K9GF1
                                            cat1_field0_subsubfield1   0.883122
                      cat1_field0_subfield1 NaN                          4N2E3R
          field0      NaN                   NaN                        0.395438

identifier                                                              QGGYMX  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.797732
          cat0_field1 NaN                   NaN                             22
          cat0_field2 cat0_field2_subfield0 NaN                         5CSUF5
                      cat0_field2_subfield1 NaN                        0.23611
                      cat0_field2_subfield2 cat0_field2_subsubfield0        93
          field0      NaN                   NaN                       0.129008
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    XM4LNQ
                                            cat1_field0_subsubfield1  0.735944
                      cat1_field0_subfield1 NaN                         TF05UI
          field0      NaN                   NaN                       0.674213

identifier                                                               BLTNC6  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.650676
          cat0_field1 NaN                   NaN                              84
          cat0_field2 cat0_field2_subfield0 NaN                          IKEEL1
                      cat0_field2_subfield1 NaN                       0.0107689
                      cat0_field2_subfield2 cat0_field2_subsubfield0         95
          field0      NaN                   NaN                        0.532688
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     EMIIP8
                                            cat1_field0_subsubfield1   0.484757
                      cat1_field0_subfield1 NaN                          9WFPA1
          field0      NaN                   NaN                        0.474376

identifier                                                               0GSHWF  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.860281
          cat0_field1 NaN                   NaN                               8
          cat0_field2 cat0_field2_subfield0 NaN                          7F6IYZ
                      cat0_field2_subfield1 NaN                        0.746575
                      cat0_field2_subfield2 cat0_field2_subsubfield0         64
          field0      NaN                   NaN                         0.62473
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     1GBGA3
                                            cat1_field0_subsubfield1   0.777581
                      cat1_field0_subfield1 NaN                          9QVQL6
          field0      NaN                   NaN                       0.0570964

identifier                                                              PZZ7OV  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.167129
          cat0_field1 NaN                   NaN                             39
          cat0_field2 cat0_field2_subfield0 NaN                         49SL8K
                      cat0_field2_subfield1 NaN                       0.273909
                      cat0_field2_subfield2 cat0_field2_subsubfield0        84
          field0      NaN                   NaN                       0.157868
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    OPVQSP
                                            cat1_field0_subsubfield1  0.118995
                      cat1_field0_subfield1 NaN                         C3BV04
          field0      NaN                   NaN                       0.342933

identifier                                                              346U8C  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.402352
          cat0_field1 NaN                   NaN                             65
          cat0_field2 cat0_field2_subfield0 NaN                         9SG5X4
                      cat0_field2_subfield1 NaN                       0.644465
                      cat0_field2_subfield2 cat0_field2_subsubfield0        70
          field0      NaN                   NaN                       0.345313
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    OL2BBL
                                            cat1_field0_subsubfield1  0.993908
                      cat1_field0_subfield1 NaN                         5QCSJE
          field0      NaN                   NaN                       0.155704

identifier                                                              XMKLHB  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.477864
          cat0_field1 NaN                   NaN                             75
          cat0_field2 cat0_field2_subfield0 NaN                         0Y8ZT8
                      cat0_field2_subfield1 NaN                       0.833957
                      cat0_field2_subfield2 cat0_field2_subsubfield0        98
          field0      NaN                   NaN                       0.825667
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    ITFEQ5
                                            cat1_field0_subsubfield1  0.126963
                      cat1_field0_subfield1 NaN                         GFCJLS
          field0      NaN                   NaN                       0.645117

identifier                                                              EG0POW  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.888406
          cat0_field1 NaN                   NaN                             74
          cat0_field2 cat0_field2_subfield0 NaN                         QOEB9L
                      cat0_field2_subfield1 NaN                       0.115406
                      cat0_field2_subfield2 cat0_field2_subsubfield0        22
          field0      NaN                   NaN                       0.854146
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    W4MFYF
                                            cat1_field0_subsubfield1   0.27787
                      cat1_field0_subfield1 NaN                         JUVS36
          field0      NaN                   NaN                        0.97768

identifier                                                              FODRRN  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.365331
          cat0_field1 NaN                   NaN                             88
          cat0_field2 cat0_field2_subfield0 NaN                         14BI9O
                      cat0_field2_subfield1 NaN                       0.206583
                      cat0_field2_subfield2 cat0_field2_subsubfield0        50
          field0      NaN                   NaN                       0.950249
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    A82GNZ
                                            cat1_field0_subsubfield1   0.40676
                      cat1_field0_subfield1 NaN                         G5N5LA
          field0      NaN                   NaN                       0.823857

identifier                                                              DD4EW6  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.509452
          cat0_field1 NaN                   NaN                             65
          cat0_field2 cat0_field2_subfield0 NaN                         RD840T
                      cat0_field2_subfield1 NaN                        0.33797
                      cat0_field2_subfield2 cat0_field2_subsubfield0        35
          field0      NaN                   NaN                       0.864639
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    KWICOK
                                            cat1_field0_subsubfield1  0.549251
                      cat1_field0_subfield1 NaN                         GO6YKH
          field0      NaN                   NaN                       0.253858

identifier                                                               0QROTA  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.499796
          cat0_field1 NaN                   NaN                              88
          cat0_field2 cat0_field2_subfield0 NaN                          FKXLZD
                      cat0_field2_subfield1 NaN                        0.165385
                      cat0_field2_subfield2 cat0_field2_subsubfield0         58
          field0      NaN                   NaN                       0.0489509
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     YW4GX0
                                            cat1_field0_subsubfield1   0.117123
                      cat1_field0_subfield1 NaN                          IKUPIT
          field0      NaN                   NaN                       0.0146478

identifier                                                              XPJF2B  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.864509
          cat0_field1 NaN                   NaN                             93
          cat0_field2 cat0_field2_subfield0 NaN                         I1JR7E
                      cat0_field2_subfield1 NaN                       0.323096
                      cat0_field2_subfield2 cat0_field2_subsubfield0        96
          field0      NaN                   NaN                       0.377769
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    F247SQ
                                            cat1_field0_subsubfield1  0.642893
                      cat1_field0_subfield1 NaN                         RTK3AI
          field0      NaN                   NaN                       0.584202

identifier                                                              07DGSV  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.60243
          cat0_field1 NaN                   NaN                             44
          cat0_field2 cat0_field2_subfield0 NaN                         5SRY0Y
                      cat0_field2_subfield1 NaN                       0.706863
                      cat0_field2_subfield2 cat0_field2_subsubfield0         6
          field0      NaN                   NaN                       0.547385
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    FMJ3G6
                                            cat1_field0_subsubfield1  0.574413
                      cat1_field0_subfield1 NaN                         ED8GHE
          field0      NaN                   NaN                       0.117734

identifier                                                              04FTT3  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.277194
          cat0_field1 NaN                   NaN                             70
          cat0_field2 cat0_field2_subfield0 NaN                         33D41T
                      cat0_field2_subfield1 NaN                       0.593175
                      cat0_field2_subfield2 cat0_field2_subsubfield0        24
          field0      NaN                   NaN                       0.751581
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    PZMS4O
                                            cat1_field0_subsubfield1  0.766901
                      cat1_field0_subfield1 NaN                         D5D9TN
          field0      NaN                   NaN                       0.776566

identifier                                                              EQ7Q8Q  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.258307
          cat0_field1 NaN                   NaN                             28
          cat0_field2 cat0_field2_subfield0 NaN                         20BFTC
                      cat0_field2_subfield1 NaN                       0.976734
                      cat0_field2_subfield2 cat0_field2_subsubfield0        65
          field0      NaN                   NaN                       0.672986
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    BZZSDF
                                            cat1_field0_subsubfield1  0.786028
                      cat1_field0_subfield1 NaN                         9Z2KX9
          field0      NaN                   NaN                       0.533778

identifier                                                               PIN5YZ  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.0883084
          cat0_field1 NaN                   NaN                              37
          cat0_field2 cat0_field2_subfield0 NaN                          ZYGUCA
                      cat0_field2_subfield1 NaN                       0.0640289
                      cat0_field2_subfield2 cat0_field2_subsubfield0         60
          field0      NaN                   NaN                        0.362963
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     SF7IWE
                                            cat1_field0_subsubfield1   0.799713
                      cat1_field0_subfield1 NaN                          URETUA
          field0      NaN                   NaN                        0.655678

identifier                                                              S1MHGQ  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.328404
          cat0_field1 NaN                   NaN                             61
          cat0_field2 cat0_field2_subfield0 NaN                         2PYA9W
                      cat0_field2_subfield1 NaN                       0.598735
                      cat0_field2_subfield2 cat0_field2_subsubfield0        58
          field0      NaN                   NaN                       0.497037
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    Q022SX
                                            cat1_field0_subsubfield1  0.790778
                      cat1_field0_subfield1 NaN                         BUE51V
          field0      NaN                   NaN                       0.597158

identifier                                                               MHDR5H  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.0186003
          cat0_field1 NaN                   NaN                              67
          cat0_field2 cat0_field2_subfield0 NaN                          Z00AA6
                      cat0_field2_subfield1 NaN                         0.95734
                      cat0_field2_subfield2 cat0_field2_subsubfield0         56
          field0      NaN                   NaN                        0.986266
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     X61Z2O
                                            cat1_field0_subsubfield1  0.0635174
                      cat1_field0_subfield1 NaN                          5HNHMM
          field0      NaN                   NaN                        0.853809

identifier                                                              KZV5OF  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.611418
          cat0_field1 NaN                   NaN                             97
          cat0_field2 cat0_field2_subfield0 NaN                         CJYZ4K
                      cat0_field2_subfield1 NaN                       0.613344
                      cat0_field2_subfield2 cat0_field2_subsubfield0        91
          field0      NaN                   NaN                       0.529438
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    0987HF
                                            cat1_field0_subsubfield1  0.789845
                      cat1_field0_subfield1 NaN                         B9OSDU
          field0      NaN                   NaN                       0.562852

identifier                                                              A0LP67
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.420673
          cat0_field1 NaN                   NaN                             82
          cat0_field2 cat0_field2_subfield0 NaN                         OZKH1J
                      cat0_field2_subfield1 NaN                       0.585091
                      cat0_field2_subfield2 cat0_field2_subsubfield0        22
          field0      NaN                   NaN                       0.167172
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    8EOROE
                                            cat1_field0_subsubfield1  0.147905
                      cat1_field0_subfield1 NaN                         OOYRZ8
          field0      NaN                   NaN                        0.92026

In [12]:
pt.cross_section(df, category='category1').head()

field                    cat1_field0                           \
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
6OG73D                        1K9GF1                 0.883122
QGGYMX                        XM4LNQ                 0.735944
BLTNC6                        EMIIP8                 0.484757
0GSHWF                        1GBGA3                 0.777581
PZZ7OV                        OPVQSP                 0.118995

field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
6OG73D                     4N2E3R   0.395438
QGGYMX                     TF05UI   0.674213
BLTNC6                     9WFPA1   0.474376
0GSHWF                     9QVQL6  0.0570964
PZZ7OV                     C3BV04   0.342933

In [13]:
pt.cross_section(df, category='category1', drop_level=False).head()

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
6OG73D                        1K9GF1                 0.883122
QGGYMX                        XM4LNQ                 0.735944
BLTNC6                        EMIIP8                 0.484757
0GSHWF                        1GBGA3                 0.777581
PZZ7OV                        OPVQSP                 0.118995

category
field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
6OG73D                     4N2E3R   0.395438
QGGYMX                     TF05UI   0.674213
BLTNC6                     9WFPA1   0.474376
0GSHWF                     9QVQL6  0.0570964
PZZ7OV                     C3BV04   0.342933

In [14]:
pt.cross_section(df, field='field0').head()

category    category0 category1
subfield          NaN       NaN
subsubfield       NaN       NaN
identifier
6OG73D       0.073855  0.395438
QGGYMX       0.129008  0.674213
BLTNC6       0.532688  0.474376
0GSHWF       0.624730  0.057096
PZZ7OV       0.157868  0.342933

In [15]:
pt.cross_section(df, category='category1', field=['field0', 'cat1_field0']).head()

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
6OG73D                        1K9GF1                 0.883122
QGGYMX                        XM4LNQ                 0.735944
BLTNC6                        EMIIP8                 0.484757
0GSHWF                        1GBGA3                 0.777581
PZZ7OV                        OPVQSP                 0.118995

category
field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
6OG73D                     4N2E3R   0.395438
QGGYMX                     TF05UI   0.674213
BLTNC6                     9WFPA1   0.474376
0GSHWF                     9QVQL6  0.0570964
PZZ7OV                     C3BV04   0.342933

In [16]:
pt.cross_section(df.T, category='category1', field=['field0', 'cat1_field0']).head()

identifier                                                              6OG73D  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    1K9GF1
                                            cat1_field0_subsubfield1  0.883122
                      cat1_field0_subfield1 NaN                         4N2E3R
          field0      NaN                   NaN                       0.395438

identifier                                                              QGGYMX  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    XM4LNQ
                                            cat1_field0_subsubfield1  0.735944
                      cat1_field0_subfield1 NaN                         TF05UI
          field0      NaN                   NaN                       0.674213

identifier                                                              BLTNC6  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    EMIIP8
                                            cat1_field0_subsubfield1  0.484757
                      cat1_field0_subfield1 NaN                         9WFPA1
          field0      NaN                   NaN                       0.474376

identifier                                                               0GSHWF  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     1GBGA3
                                            cat1_field0_subsubfield1   0.777581
                      cat1_field0_subfield1 NaN                          9QVQL6
          field0      NaN                   NaN                       0.0570964

identifier                                                              PZZ7OV  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    OPVQSP
                                            cat1_field0_subsubfield1  0.118995
                      cat1_field0_subfield1 NaN                         C3BV04
          field0      NaN                   NaN                       0.342933

identifier                                                              346U8C  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    OL2BBL
                                            cat1_field0_subsubfield1  0.993908
                      cat1_field0_subfield1 NaN                         5QCSJE
          field0      NaN                   NaN                       0.155704

identifier                                                              XMKLHB  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    ITFEQ5
                                            cat1_field0_subsubfield1  0.126963
                      cat1_field0_subfield1 NaN                         GFCJLS
          field0      NaN                   NaN                       0.645117

identifier                                                             EG0POW  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0   W4MFYF
                                            cat1_field0_subsubfield1  0.27787
                      cat1_field0_subfield1 NaN                        JUVS36
          field0      NaN                   NaN                       0.97768

identifier                                                              FODRRN  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    A82GNZ
                                            cat1_field0_subsubfield1   0.40676
                      cat1_field0_subfield1 NaN                         G5N5LA
          field0      NaN                   NaN                       0.823857

identifier                                                              DD4EW6  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    KWICOK
                                            cat1_field0_subsubfield1  0.549251
                      cat1_field0_subfield1 NaN                         GO6YKH
          field0      NaN                   NaN                       0.253858

identifier                                                               0QROTA  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     YW4GX0
                                            cat1_field0_subsubfield1   0.117123
                      cat1_field0_subfield1 NaN                          IKUPIT
          field0      NaN                   NaN                       0.0146478

identifier                                                              XPJF2B  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    F247SQ
                                            cat1_field0_subsubfield1  0.642893
                      cat1_field0_subfield1 NaN                         RTK3AI
          field0      NaN                   NaN                       0.584202

identifier                                                              07DGSV  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    FMJ3G6
                                            cat1_field0_subsubfield1  0.574413
                      cat1_field0_subfield1 NaN                         ED8GHE
          field0      NaN                   NaN                       0.117734

identifier                                                              04FTT3  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    PZMS4O
                                            cat1_field0_subsubfield1  0.766901
                      cat1_field0_subfield1 NaN                         D5D9TN
          field0      NaN                   NaN                       0.776566

identifier                                                              EQ7Q8Q  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    BZZSDF
                                            cat1_field0_subsubfield1  0.786028
                      cat1_field0_subfield1 NaN                         9Z2KX9
          field0      NaN                   NaN                       0.533778

identifier                                                              PIN5YZ  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    SF7IWE
                                            cat1_field0_subsubfield1  0.799713
                      cat1_field0_subfield1 NaN                         URETUA
          field0      NaN                   NaN                       0.655678

identifier                                                              S1MHGQ  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    Q022SX
                                            cat1_field0_subsubfield1  0.790778
                      cat1_field0_subfield1 NaN                         BUE51V
          field0      NaN                   NaN                       0.597158

identifier                                                               MHDR5H  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     X61Z2O
                                            cat1_field0_subsubfield1  0.0635174
                      cat1_field0_subfield1 NaN                          5HNHMM
          field0      NaN                   NaN                        0.853809

identifier                                                              KZV5OF  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    0987HF
                                            cat1_field0_subsubfield1  0.789845
                      cat1_field0_subfield1 NaN                         B9OSDU
          field0      NaN                   NaN                       0.562852

identifier                                                              A0LP67
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    8EOROE
                                            cat1_field0_subsubfield1  0.147905
                      cat1_field0_subfield1 NaN                         OOYRZ8
          field0      NaN                   NaN                        0.92026

In [17]:
pt.flatten(df).head()

,category0.cat0_field0,category0.cat0_field1,category0.cat0_field2.cat0_field2_subfield0,category0.cat0_field2.cat0_field2_subfield1,category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,category0.field0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield1,category1.cat1_field0.cat1_field0_subfield1,category1.field0
identifier,,,,,,,,,,
6OG73D,0.829836,1,08Q3YH,0.315140,75,0.073855,1K9GF1,0.883122,4N2E3R,0.395438
QGGYMX,0.797732,22,5CSUF5,0.236110,93,0.129008,XM4LNQ,0.735944,TF05UI,0.674213
BLTNC6,0.650676,84,IKEEL1,0.010769,95,0.532688,EMIIP8,0.484757,9WFPA1,0.474376
0GSHWF,0.860281,8,7F6IYZ,0.746575,64,0.624730,1GBGA3,0.777581,9QVQL6,0.057096
PZZ7OV,0.167129,39,49SL8K,0.273909,84,0.157868,OPVQSP,0.118995,C3BV04,0.342933

In [18]:
pt.flatten(df.T).head()

identifier,6OG73D,QGGYMX,BLTNC6,0GSHWF,PZZ7OV,346U8C,XMKLHB,EG0POW,FODRRN,DD4EW6,0QROTA,XPJF2B,07DGSV,04FTT3,EQ7Q8Q,PIN5YZ,S1MHGQ,MHDR5H,KZV5OF,A0LP67
category0.cat0_field0,0.829836,0.797732,0.650676,0.860281,0.167129,0.402352,0.477864,0.888406,0.365331,0.509452,0.499796,0.864509,0.60243,0.277194,0.258307,0.0883084,0.328404,0.0186003,0.611418,0.420673
category0.cat0_field1,1,22,84,8,39,65,75,74,88,65,88,93,44,70,28,37,61,67,97,82
category0.cat0_field2.cat0_field2_subfield0,08Q3YH,5CSUF5,IKEEL1,7F6IYZ,49SL8K,9SG5X4,0Y8ZT8,QOEB9L,14BI9O,RD840T,FKXLZD,I1JR7E,5SRY0Y,33D41T,20BFTC,ZYGUCA,2PYA9W,Z00AA6,CJYZ4K,OZKH1J
category0.cat0_field2.cat0_field2_subfield1,0.31514,0.23611,0.0107689,0.746575,0.273909,0.644465,0.833957,0.115406,0.206583,0.33797,0.165385,0.323096,0.706863,0.593175,0.976734,0.0640289,0.598735,0.95734,0.613344,0.585091
category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,75,93,95,64,84,70,98,22,50,35,58,96,6,24,65,60,58,56,91,22