In [1]:
import pandas as pd
from numpy import nan
import string
import random
import pandas_tools as pt

In [2]:
# Set ourselves up to make a collection of "records",
# each of which contains data from a single observation in a nested dict format.
def rand_str(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.choice(chars) for x in range(size))

rand_float = random.random
rand_int = lambda: random.randint(0,100)
# rand_value = lambda: random.choice([rand_str, rand_float, rand_int])()

In [3]:
def make_record(identifier):
    record = {
        'identifier': identifier,
        'category0': {
            'field0': rand_float(),
            'cat0_field0': rand_float(),
            'cat0_field1': rand_int(),
            'cat0_field2': {
                'cat0_field2_subfield0': rand_str(),
                'cat0_field2_subfield1': rand_float(),
                'cat0_field2_subfield2': {
                    'cat0_field2_subsubfield0': rand_int()
                },
            }
        },
        "category1": {
            'field0': rand_float(),
            'cat1_field0': {
                'cat1_field0_subfield0': {
                    'cat1_field0_subsubfield0': rand_str(),
                    'cat1_field0_subsubfield1': rand_float(),
                },
                'cat1_field0_subfield1': rand_str(),
            },
        },
    }
    return record

In [4]:
# Generate a list of records
n_records = 20
levels = ['category', 'field', 'subfield', 'subsubfield']
records = []
for _ in range(n_records):
    identifier = rand_str()
    records.append(make_record(identifier))

In [5]:
# the naive approach doesn't do what we want
df = pd.DataFrame.from_records(records).set_index('identifier')
df.head()
# could use some more structure...

,category0,category1
identifier,,
81SXRE,"{'field0': 0.6098385967638446, 'cat0_field0': ...","{'field0': 0.287735811773012, 'cat1_field0': {..."
2S6U87,"{'field0': 0.8562126526787561, 'cat0_field0': ...","{'field0': 0.1710288604355965, 'cat1_field0': ..."
L8T4EC,"{'field0': 0.15288615166284558, 'cat0_field0':...","{'field0': 0.09504437016855904, 'cat1_field0':..."
GHSV0Y,"{'field0': 0.8574071293505491, 'cat0_field0': ...","{'field0': 0.7227184010893193, 'cat1_field0': ..."
R3GICQ,"{'field0': 0.8520963658676538, 'cat0_field0': ...","{'field0': 0.24357512754360533, 'cat1_field0':..."

In [6]:
# Create flat DataFrame
df = pt.df_from_records(records, index='identifier', levels=levels, flat=True)

In [7]:
# not very pretty...
df.head()

,category0.cat0_field0,category0.cat0_field1,category0.cat0_field2.cat0_field2_subfield0,category0.cat0_field2.cat0_field2_subfield1,category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,category0.field0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield1,category1.cat1_field0.cat1_field0_subfield1,category1.field0
identifier,,,,,,,,,,
81SXRE,0.293480,21,NZVYPV,0.723166,38,0.609839,VMR7JX,0.212794,IV122G,0.287736
2S6U87,0.087535,39,6MI0MQ,0.258077,84,0.856213,QCS344,0.640908,O4N6ZM,0.171029
L8T4EC,0.891719,84,AJ5863,0.273990,48,0.152886,US6APK,0.600508,HV2I7D,0.095044
GHSV0Y,0.315414,76,1DYMZM,0.835361,82,0.857407,3WJ1AP,0.546147,AIXM9T,0.722718
R3GICQ,0.832957,33,S3UPX3,0.903936,28,0.852096,LERRQ4,0.109889,GYP38C,0.243575

In [8]:
# Create MultiIndexed DataFrame
df = pt.df_from_records(records, index='identifier', levels=levels, flat=False)

In [9]:
# Uneven nesting results in nan levels
df.head()

category      category0                                    \
field       cat0_field0 cat0_field1           cat0_field2
subfield            NaN         NaN cat0_field2_subfield0
subsubfield         NaN         NaN                   NaN
identifier
81SXRE         0.293480          21                NZVYPV
2S6U87         0.087535          39                6MI0MQ
L8T4EC         0.891719          84                AJ5863
GHSV0Y         0.315414          76                1DYMZM
R3GICQ         0.832957          33                S3UPX3

category                                                              \
field                                                         field0
subfield    cat0_field2_subfield1    cat0_field2_subfield2       NaN
subsubfield                   NaN cat0_field2_subsubfield0       NaN
identifier
81SXRE                   0.723166                       38  0.609839
2S6U87                   0.258077                       84  0.856213
L8T4EC                   0.273990                       48  0.152886
GHSV0Y                   0.835361                       82  0.857407
R3GICQ                   0.903936                       28  0.852096

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
81SXRE                        VMR7JX                 0.212794
2S6U87                        QCS344                 0.640908
L8T4EC                        US6APK                 0.600508
GHSV0Y                        3WJ1AP                 0.546147
R3GICQ                        LERRQ4                 0.109889

category
field                                field0
subfield    cat1_field0_subfield1       NaN
subsubfield                   NaN       NaN
identifier
81SXRE                     IV122G  0.287736
2S6U87                     O4N6ZM  0.171029
L8T4EC                     HV2I7D  0.095044
GHSV0Y                     AIXM9T  0.722718
R3GICQ                     GYP38C  0.243575

In [10]:
# direct access to a single columns, not that useful
print(df['category0', 'cat0_field1', nan, nan])

identifier
81SXRE    21
2S6U87    39
L8T4EC    84
GHSV0Y    76
R3GICQ    33
5NKTBA    41
9TA5KO    18
N7NY4Y    86
PGIJRC    39
O4NAQF    30
H4BAFK    27
MIK7U0    92
MI067V    30
0TK4TX    98
HS7HDM    17
N492X6    98
50PKY1    37
WJ0SCK    56
P4SF1S    89
30LMCU    29
Name: (category0, cat0_field1, nan, nan), dtype: int64

In [11]:
print(df['category0', 'cat0_field1', nan, nan] is df[('category0', 'cat0_field1', nan, nan)])

True

In [12]:
df.T

identifier                                                              81SXRE  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.29348
          cat0_field1 NaN                   NaN                             21
          cat0_field2 cat0_field2_subfield0 NaN                         NZVYPV
                      cat0_field2_subfield1 NaN                       0.723166
                      cat0_field2_subfield2 cat0_field2_subsubfield0        38
          field0      NaN                   NaN                       0.609839
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    VMR7JX
                                            cat1_field0_subsubfield1  0.212794
                      cat1_field0_subfield1 NaN                         IV122G
          field0      NaN                   NaN                       0.287736

identifier                                                               2S6U87  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.0875347
          cat0_field1 NaN                   NaN                              39
          cat0_field2 cat0_field2_subfield0 NaN                          6MI0MQ
                      cat0_field2_subfield1 NaN                        0.258077
                      cat0_field2_subfield2 cat0_field2_subsubfield0         84
          field0      NaN                   NaN                        0.856213
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     QCS344
                                            cat1_field0_subsubfield1   0.640908
                      cat1_field0_subfield1 NaN                          O4N6ZM
          field0      NaN                   NaN                        0.171029

identifier                                                               L8T4EC  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.891719
          cat0_field1 NaN                   NaN                              84
          cat0_field2 cat0_field2_subfield0 NaN                          AJ5863
                      cat0_field2_subfield1 NaN                         0.27399
                      cat0_field2_subfield2 cat0_field2_subsubfield0         48
          field0      NaN                   NaN                        0.152886
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     US6APK
                                            cat1_field0_subsubfield1   0.600508
                      cat1_field0_subfield1 NaN                          HV2I7D
          field0      NaN                   NaN                       0.0950444

identifier                                                              GHSV0Y  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.315414
          cat0_field1 NaN                   NaN                             76
          cat0_field2 cat0_field2_subfield0 NaN                         1DYMZM
                      cat0_field2_subfield1 NaN                       0.835361
                      cat0_field2_subfield2 cat0_field2_subsubfield0        82
          field0      NaN                   NaN                       0.857407
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    3WJ1AP
                                            cat1_field0_subsubfield1  0.546147
                      cat1_field0_subfield1 NaN                         AIXM9T
          field0      NaN                   NaN                       0.722718

identifier                                                              R3GICQ  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.832957
          cat0_field1 NaN                   NaN                             33
          cat0_field2 cat0_field2_subfield0 NaN                         S3UPX3
                      cat0_field2_subfield1 NaN                       0.903936
                      cat0_field2_subfield2 cat0_field2_subsubfield0        28
          field0      NaN                   NaN                       0.852096
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    LERRQ4
                                            cat1_field0_subsubfield1  0.109889
                      cat1_field0_subfield1 NaN                         GYP38C
          field0      NaN                   NaN                       0.243575

identifier                                                               5NKTBA  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.294744
          cat0_field1 NaN                   NaN                              41
          cat0_field2 cat0_field2_subfield0 NaN                          0YVWNO
                      cat0_field2_subfield1 NaN                       0.0162507
                      cat0_field2_subfield2 cat0_field2_subsubfield0         26
          field0      NaN                   NaN                       0.0888825
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     33ZDGV
                                            cat1_field0_subsubfield1   0.639978
                      cat1_field0_subfield1 NaN                          YAOQ8Y
          field0      NaN                   NaN                        0.193847

identifier                                                              9TA5KO  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.511738
          cat0_field1 NaN                   NaN                             18
          cat0_field2 cat0_field2_subfield0 NaN                         215CB5
                      cat0_field2_subfield1 NaN                       0.540115
                      cat0_field2_subfield2 cat0_field2_subsubfield0        22
          field0      NaN                   NaN                       0.447642
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    JRHBNU
                                            cat1_field0_subsubfield1  0.345949
                      cat1_field0_subfield1 NaN                         YY7US2
          field0      NaN                   NaN                       0.507728

identifier                                                               N7NY4Y  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.837576
          cat0_field1 NaN                   NaN                              86
          cat0_field2 cat0_field2_subfield0 NaN                          29U1ZT
                      cat0_field2_subfield1 NaN                       0.0913934
                      cat0_field2_subfield2 cat0_field2_subsubfield0         35
          field0      NaN                   NaN                        0.232312
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     QXE7M2
                                            cat1_field0_subsubfield1   0.673357
                      cat1_field0_subfield1 NaN                          5W6GRN
          field0      NaN                   NaN                        0.833455

identifier                                                              PGIJRC  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.701132
          cat0_field1 NaN                   NaN                             39
          cat0_field2 cat0_field2_subfield0 NaN                         0FK1VT
                      cat0_field2_subfield1 NaN                       0.410207
                      cat0_field2_subfield2 cat0_field2_subsubfield0        42
          field0      NaN                   NaN                       0.696556
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    JS8WDJ
                                            cat1_field0_subsubfield1  0.693351
                      cat1_field0_subfield1 NaN                         LJO5VN
          field0      NaN                   NaN                       0.801936

identifier                                                               O4NAQF  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.0550833
          cat0_field1 NaN                   NaN                              30
          cat0_field2 cat0_field2_subfield0 NaN                          WJKM4R
                      cat0_field2_subfield1 NaN                        0.721856
                      cat0_field2_subfield2 cat0_field2_subsubfield0         58
          field0      NaN                   NaN                        0.949191
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     UDWYU8
                                            cat1_field0_subsubfield1   0.502805
                      cat1_field0_subfield1 NaN                          3OLUE5
          field0      NaN                   NaN                        0.813385

identifier                                                              H4BAFK  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.796302
          cat0_field1 NaN                   NaN                             27
          cat0_field2 cat0_field2_subfield0 NaN                         G5Q87M
                      cat0_field2_subfield1 NaN                       0.615373
                      cat0_field2_subfield2 cat0_field2_subsubfield0        16
          field0      NaN                   NaN                       0.401203
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    ASYG42
                                            cat1_field0_subsubfield1   0.79118
                      cat1_field0_subfield1 NaN                         NU9XBW
          field0      NaN                   NaN                       0.221054

identifier                                                               MIK7U0  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.927793
          cat0_field1 NaN                   NaN                              92
          cat0_field2 cat0_field2_subfield0 NaN                          D9TRAP
                      cat0_field2_subfield1 NaN                        0.465488
                      cat0_field2_subfield2 cat0_field2_subsubfield0         92
          field0      NaN                   NaN                       0.0650849
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     K8QPR5
                                            cat1_field0_subsubfield1   0.848787
                      cat1_field0_subfield1 NaN                          JCKOBA
          field0      NaN                   NaN                        0.511932

identifier                                                               MI067V  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.966112
          cat0_field1 NaN                   NaN                              30
          cat0_field2 cat0_field2_subfield0 NaN                          ELN047
                      cat0_field2_subfield1 NaN                       0.0421974
                      cat0_field2_subfield2 cat0_field2_subsubfield0         98
          field0      NaN                   NaN                       0.0265562
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     XO9MG3
                                            cat1_field0_subsubfield1   0.159572
                      cat1_field0_subfield1 NaN                          5F41P1
          field0      NaN                   NaN                       0.0516631

identifier                                                              0TK4TX  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.234348
          cat0_field1 NaN                   NaN                             98
          cat0_field2 cat0_field2_subfield0 NaN                         0BOX4A
                      cat0_field2_subfield1 NaN                       0.550584
                      cat0_field2_subfield2 cat0_field2_subsubfield0        31
          field0      NaN                   NaN                       0.659831
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    19R0YK
                                            cat1_field0_subsubfield1  0.177811
                      cat1_field0_subfield1 NaN                         QXG4UG
          field0      NaN                   NaN                       0.953683

identifier                                                              HS7HDM  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.748362
          cat0_field1 NaN                   NaN                             17
          cat0_field2 cat0_field2_subfield0 NaN                         JFAMXI
                      cat0_field2_subfield1 NaN                        0.18586
                      cat0_field2_subfield2 cat0_field2_subsubfield0         6
          field0      NaN                   NaN                        0.45624
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    IO6R70
                                            cat1_field0_subsubfield1  0.930209
                      cat1_field0_subfield1 NaN                         R6FAPK
          field0      NaN                   NaN                       0.404371

identifier                                                              N492X6  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.364269
          cat0_field1 NaN                   NaN                             98
          cat0_field2 cat0_field2_subfield0 NaN                         BSXWCO
                      cat0_field2_subfield1 NaN                       0.713731
                      cat0_field2_subfield2 cat0_field2_subsubfield0        66
          field0      NaN                   NaN                       0.420195
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    WD12OP
                                            cat1_field0_subsubfield1  0.229174
                      cat1_field0_subfield1 NaN                         9MUNAB
          field0      NaN                   NaN                       0.705145

identifier                                                              50PKY1  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.878056
          cat0_field1 NaN                   NaN                             37
          cat0_field2 cat0_field2_subfield0 NaN                         7PUUUX
                      cat0_field2_subfield1 NaN                       0.315291
                      cat0_field2_subfield2 cat0_field2_subsubfield0        68
          field0      NaN                   NaN                       0.547019
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    9EOY6Q
                                            cat1_field0_subsubfield1   0.18912
                      cat1_field0_subfield1 NaN                         D6ITV8
          field0      NaN                   NaN                       0.284492

identifier                                                               WJ0SCK  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.0383299
          cat0_field1 NaN                   NaN                              56
          cat0_field2 cat0_field2_subfield0 NaN                          LYEGHN
                      cat0_field2_subfield1 NaN                        0.162175
                      cat0_field2_subfield2 cat0_field2_subsubfield0         81
          field0      NaN                   NaN                        0.487118
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     GC5QUJ
                                            cat1_field0_subsubfield1   0.766285
                      cat1_field0_subfield1 NaN                          W7EWHY
          field0      NaN                   NaN                        0.688881

identifier                                                               P4SF1S  \
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                        0.788079
          cat0_field1 NaN                   NaN                              89
          cat0_field2 cat0_field2_subfield0 NaN                          U9E3OT
                      cat0_field2_subfield1 NaN                        0.953928
                      cat0_field2_subfield2 cat0_field2_subsubfield0         93
          field0      NaN                   NaN                        0.241098
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     1C7NYD
                                            cat1_field0_subsubfield1  0.0542478
                      cat1_field0_subfield1 NaN                          A1UVS1
          field0      NaN                   NaN                         0.75766

identifier                                                              30LMCU
category  field       subfield              subsubfield
category0 cat0_field0 NaN                   NaN                       0.153318
          cat0_field1 NaN                   NaN                             29
          cat0_field2 cat0_field2_subfield0 NaN                         EHFQXR
                      cat0_field2_subfield1 NaN                       0.755517
                      cat0_field2_subfield2 cat0_field2_subsubfield0        55
          field0      NaN                   NaN                       0.141106
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    TFF69B
                                            cat1_field0_subsubfield1  0.487445
                      cat1_field0_subfield1 NaN                         4QDIW4
          field0      NaN                   NaN                       0.228086

In [13]:
pt.cross_section(df, category='category1').head()

field                    cat1_field0                           \
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
81SXRE                        VMR7JX                 0.212794
2S6U87                        QCS344                 0.640908
L8T4EC                        US6APK                 0.600508
GHSV0Y                        3WJ1AP                 0.546147
R3GICQ                        LERRQ4                 0.109889

field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
81SXRE                     IV122G   0.287736
2S6U87                     O4N6ZM   0.171029
L8T4EC                     HV2I7D  0.0950444
GHSV0Y                     AIXM9T   0.722718
R3GICQ                     GYP38C   0.243575

In [14]:
pt.cross_section(df, category='category1', drop_level=False).head()

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
81SXRE                        VMR7JX                 0.212794
2S6U87                        QCS344                 0.640908
L8T4EC                        US6APK                 0.600508
GHSV0Y                        3WJ1AP                 0.546147
R3GICQ                        LERRQ4                 0.109889

category
field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
81SXRE                     IV122G   0.287736
2S6U87                     O4N6ZM   0.171029
L8T4EC                     HV2I7D  0.0950444
GHSV0Y                     AIXM9T   0.722718
R3GICQ                     GYP38C   0.243575

In [15]:
pt.cross_section(df, field='field0').head()

category    category0 category1
subfield          NaN       NaN
subsubfield       NaN       NaN
identifier
81SXRE       0.609839  0.287736
2S6U87       0.856213  0.171029
L8T4EC       0.152886  0.095044
GHSV0Y       0.857407  0.722718
R3GICQ       0.852096  0.243575

In [16]:
pt.cross_section(df, category='category1', field=['field0', 'cat1_field0']).head()

category                   category1                           \
field                    cat1_field0
subfield       cat1_field0_subfield0
subsubfield cat1_field0_subsubfield0 cat1_field0_subsubfield1
identifier
81SXRE                        VMR7JX                 0.212794
2S6U87                        QCS344                 0.640908
L8T4EC                        US6APK                 0.600508
GHSV0Y                        3WJ1AP                 0.546147
R3GICQ                        LERRQ4                 0.109889

category
field                                 field0
subfield    cat1_field0_subfield1        NaN
subsubfield                   NaN        NaN
identifier
81SXRE                     IV122G   0.287736
2S6U87                     O4N6ZM   0.171029
L8T4EC                     HV2I7D  0.0950444
GHSV0Y                     AIXM9T   0.722718
R3GICQ                     GYP38C   0.243575

In [17]:
# thanks to the handle_transpose decorator, operations work as expected on either df or df.T
pt.cross_section(df.T, category='category1', field=['field0', 'cat1_field0']).head()

identifier                                                              81SXRE  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    VMR7JX
                                            cat1_field0_subsubfield1  0.212794
                      cat1_field0_subfield1 NaN                         IV122G
          field0      NaN                   NaN                       0.287736

identifier                                                              2S6U87  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    QCS344
                                            cat1_field0_subsubfield1  0.640908
                      cat1_field0_subfield1 NaN                         O4N6ZM
          field0      NaN                   NaN                       0.171029

identifier                                                               L8T4EC  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     US6APK
                                            cat1_field0_subsubfield1   0.600508
                      cat1_field0_subfield1 NaN                          HV2I7D
          field0      NaN                   NaN                       0.0950444

identifier                                                              GHSV0Y  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    3WJ1AP
                                            cat1_field0_subsubfield1  0.546147
                      cat1_field0_subfield1 NaN                         AIXM9T
          field0      NaN                   NaN                       0.722718

identifier                                                              R3GICQ  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    LERRQ4
                                            cat1_field0_subsubfield1  0.109889
                      cat1_field0_subfield1 NaN                         GYP38C
          field0      NaN                   NaN                       0.243575

identifier                                                              5NKTBA  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    33ZDGV
                                            cat1_field0_subsubfield1  0.639978
                      cat1_field0_subfield1 NaN                         YAOQ8Y
          field0      NaN                   NaN                       0.193847

identifier                                                              9TA5KO  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    JRHBNU
                                            cat1_field0_subsubfield1  0.345949
                      cat1_field0_subfield1 NaN                         YY7US2
          field0      NaN                   NaN                       0.507728

identifier                                                              N7NY4Y  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    QXE7M2
                                            cat1_field0_subsubfield1  0.673357
                      cat1_field0_subfield1 NaN                         5W6GRN
          field0      NaN                   NaN                       0.833455

identifier                                                              PGIJRC  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    JS8WDJ
                                            cat1_field0_subsubfield1  0.693351
                      cat1_field0_subfield1 NaN                         LJO5VN
          field0      NaN                   NaN                       0.801936

identifier                                                              O4NAQF  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    UDWYU8
                                            cat1_field0_subsubfield1  0.502805
                      cat1_field0_subfield1 NaN                         3OLUE5
          field0      NaN                   NaN                       0.813385

identifier                                                              H4BAFK  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    ASYG42
                                            cat1_field0_subsubfield1   0.79118
                      cat1_field0_subfield1 NaN                         NU9XBW
          field0      NaN                   NaN                       0.221054

identifier                                                              MIK7U0  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    K8QPR5
                                            cat1_field0_subsubfield1  0.848787
                      cat1_field0_subfield1 NaN                         JCKOBA
          field0      NaN                   NaN                       0.511932

identifier                                                               MI067V  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     XO9MG3
                                            cat1_field0_subsubfield1   0.159572
                      cat1_field0_subfield1 NaN                          5F41P1
          field0      NaN                   NaN                       0.0516631

identifier                                                              0TK4TX  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    19R0YK
                                            cat1_field0_subsubfield1  0.177811
                      cat1_field0_subfield1 NaN                         QXG4UG
          field0      NaN                   NaN                       0.953683

identifier                                                              HS7HDM  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    IO6R70
                                            cat1_field0_subsubfield1  0.930209
                      cat1_field0_subfield1 NaN                         R6FAPK
          field0      NaN                   NaN                       0.404371

identifier                                                              N492X6  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    WD12OP
                                            cat1_field0_subsubfield1  0.229174
                      cat1_field0_subfield1 NaN                         9MUNAB
          field0      NaN                   NaN                       0.705145

identifier                                                              50PKY1  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    9EOY6Q
                                            cat1_field0_subsubfield1   0.18912
                      cat1_field0_subfield1 NaN                         D6ITV8
          field0      NaN                   NaN                       0.284492

identifier                                                              WJ0SCK  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    GC5QUJ
                                            cat1_field0_subsubfield1  0.766285
                      cat1_field0_subfield1 NaN                         W7EWHY
          field0      NaN                   NaN                       0.688881

identifier                                                               P4SF1S  \
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0     1C7NYD
                                            cat1_field0_subsubfield1  0.0542478
                      cat1_field0_subfield1 NaN                          A1UVS1
          field0      NaN                   NaN                         0.75766

identifier                                                              30LMCU
category  field       subfield              subsubfield
category1 cat1_field0 cat1_field0_subfield0 cat1_field0_subsubfield0    TFF69B
                                            cat1_field0_subsubfield1  0.487445
                      cat1_field0_subfield1 NaN                         4QDIW4
          field0      NaN                   NaN                       0.228086

In [18]:
pt.flatten(df).head()

,category0.cat0_field0,category0.cat0_field1,category0.cat0_field2.cat0_field2_subfield0,category0.cat0_field2.cat0_field2_subfield1,category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,category0.field0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield0,category1.cat1_field0.cat1_field0_subfield0.cat1_field0_subsubfield1,category1.cat1_field0.cat1_field0_subfield1,category1.field0
identifier,,,,,,,,,,
81SXRE,0.293480,21,NZVYPV,0.723166,38,0.609839,VMR7JX,0.212794,IV122G,0.287736
2S6U87,0.087535,39,6MI0MQ,0.258077,84,0.856213,QCS344,0.640908,O4N6ZM,0.171029
L8T4EC,0.891719,84,AJ5863,0.273990,48,0.152886,US6APK,0.600508,HV2I7D,0.095044
GHSV0Y,0.315414,76,1DYMZM,0.835361,82,0.857407,3WJ1AP,0.546147,AIXM9T,0.722718
R3GICQ,0.832957,33,S3UPX3,0.903936,28,0.852096,LERRQ4,0.109889,GYP38C,0.243575

In [19]:
pt.flatten(df.T).head()

identifier,81SXRE,2S6U87,L8T4EC,GHSV0Y,R3GICQ,5NKTBA,9TA5KO,N7NY4Y,PGIJRC,O4NAQF,H4BAFK,MIK7U0,MI067V,0TK4TX,HS7HDM,N492X6,50PKY1,WJ0SCK,P4SF1S,30LMCU
category0.cat0_field0,0.29348,0.0875347,0.891719,0.315414,0.832957,0.294744,0.511738,0.837576,0.701132,0.0550833,0.796302,0.927793,0.966112,0.234348,0.748362,0.364269,0.878056,0.0383299,0.788079,0.153318
category0.cat0_field1,21,39,84,76,33,41,18,86,39,30,27,92,30,98,17,98,37,56,89,29
category0.cat0_field2.cat0_field2_subfield0,NZVYPV,6MI0MQ,AJ5863,1DYMZM,S3UPX3,0YVWNO,215CB5,29U1ZT,0FK1VT,WJKM4R,G5Q87M,D9TRAP,ELN047,0BOX4A,JFAMXI,BSXWCO,7PUUUX,LYEGHN,U9E3OT,EHFQXR
category0.cat0_field2.cat0_field2_subfield1,0.723166,0.258077,0.27399,0.835361,0.903936,0.0162507,0.540115,0.0913934,0.410207,0.721856,0.615373,0.465488,0.0421974,0.550584,0.18586,0.713731,0.315291,0.162175,0.953928,0.755517
category0.cat0_field2.cat0_field2_subfield2.cat0_field2_subsubfield0,38,84,48,82,28,26,22,35,42,58,16,92,98,31,6,66,68,81,93,55